<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @personal_info.title %>
</p>

<p>
  <strong>Value:</strong>
  <%= @personal_info.value %>
</p>

<%= link_to edit_personal_info_path(@personal_info), :class => 'btn btn-default' do %>
    <span class="glyphicon glyphicon-pencil"></span>
    <div class="hidden-xs">
      Edit
    </div>
<% end %>

<%= link_to  personal_infos_path, :class => 'btn btn-warning' do %>
    <span class="glyphicon glyphicon-chevron-left"></span>
    <div class="hidden-xs">
      Back
    </div>
<% end %>
