<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @site_info.name %>
</p>

<p>
  <strong>Value:</strong>
  <%= @site_info.value %>
</p>

<%= link_to edit_site_info_path(@site_info) , :class => 'btn btn-default' do %>
    <span class="glyphicon glyphicon-pencil"></span>
    Edit
<% end %>

<%= link_to site_infos_path , :class => 'btn btn-warning' do %>
    <span class="glyphicon glyphicon-chevron-left"></span>
    Back
<% end %>
