<div class="container">
  <div class="page-header">
    <h1>
      <% if @page_title then %>
          <%= @page_title.value %>
      <% end %>
    </h1>
  </div>

  <div class="col-xs-12 col-sm-6 col-sm-push-6" data-mh="personal">
    <% if @photo then %>
        <div class="panel panel-primary">
          <div class="panel-heading">

            <%= image_tag(@photo.value, :alt => "Photo of yourself", :class=>"img-responsive img-rounded") %>

            <% if @photo_description then %>
                <div class="panel-body">
                  <%= @photo_description.value %>
                </div>
            <% end %>
          </div>
        </div>
    <% end %>
  </div>

  <div class="col-xs-12 col-sm-6 col-sm-pull-6" data-mh="personal">
    <div class="panel panel-primary">
      <div class="panel-heading">
        <% if @personal_info_title then %>
            <%= @personal_info_title.value %>
        <% end %>
      </div>
      <div class="panel-body">
        <% @personal_infos.each do |info| %>
            <div class="col-xs-12">
              <strong><%= info.title %>: </strong>
              <%= info.value %>
              <br>
            </div>
        <% end %>
      </div>
    </div>
  </div>


  <% @experiences.each do |history| %>
      <div class="col-xs-12 col-sm-6" data-mh="experiences">
        <div class="panel panel-primary">
          <div class="panel-heading"><%= history.title %></div>
          <div class="panel-body"> <%= history.description %></div>
          <div class="panel-footer"> <%= history.start %> - <%= history.ending %></div>
        </div>
      </div>
  <% end %>
</div>
