<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @experience.title %>
</p>

<p>
  <strong>Description:</strong>
  <%= @experience.description %>
</p>

<p>
  <strong>Start:</strong>
  <%= @experience.start %>
</p>

<p>
  <strong>Ending:</strong>
  <%= @experience.ending %>
</p>

<%= link_to edit_experience_path(@experience), :class => 'btn btn-default' do %>
    <span class="glyphicon glyphicon-pencil"></span>
    Edit
<% end %>

<%= link_to experiences_path, :class => 'btn btn-warning' do %>
    <span class="glyphicon glyphicon-chevron-left"></span>
    Back
<% end %>

